// Rangez dans chaque fichier partial le code associé
@import './utils/variables';
@import './utils/placeholders';
@import './base/reset';
@import './base/default';
@import './components/button';
@import './page/home.scss';


// 1. Créer une palette de 5 variables qui représentent des nuances de bleu en hexadécimal
// Et utiliser une des couleur dans le code ci-dessous

// 2. Utilisez le "nesting" de SASS afin d'imbriquer les sélecteurs suivants

// 3. Partagez les trois propriétés suivantes avec les h2, h3 & h4.
// Le résultat dans le style.css devrait ressembler à ceci :
// h2, h3, h4 {
//     font-size: 45px;
//     text-align: center;
//     padding: 12px 0;
//   }

h2 {
    color: crimson;
    @extend %subtitle;
}
h3 {
    color: lightgreen;
    @extend %subtitle;
}
h4 {
    color: lightblue;
    @extend %subtitle;
}

// 4. Créez un mixin avec des paramètres pour éviter les répétitions.
// Les sélecteurs ne doivent pas avoir de propriétés propres, tout doit être compris dans le mixin et ses paramètres.

.inp-large {
    @include input(block, 24px, 20px,100%, 800px, 50px auto);
}

.inp-small {
    @include input(block, 16px, 14px,100%, 250px, 50px auto);
}

// 5. Utilisez une boucle pour ajouter 1px de hauteur et de largeur aux 100 blocks de manière incrémentale (b1,b2,b3 etc ...).
// 1px 1px
// 2px 2px

.blocks-container {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.block {
    border: 10px solid rgb(43, 220, 20);
    background: #000;
    margin: 20px;
}
